*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    background-color: rgb(255, 192, 203);
}

/* altezza e colore ai bordi */
.b-color {
    border: black solid 1px;
    height: 200px;
}

.nested{
    background-color: rgb(240, 127, 128);
    height: 180px;
    border: white solid 1px;
}

.row-nested{
    padding:  10px;
}

.testo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%)
}